<!--[@routerTransition]-->
<div class="page-system-settings page-merchants-details page-responsive">
    <div class="row">
        <div class="col col-xs-12">
            <div class="title">
                <span>{{'System Settings' | translate}}</span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col col-xs-12">
            <div class="card mb-3 financial-information-card">
                <div class="card-header">
                    <div class="card-header-inner">
                        <span>{{'System Settings' | translate}}</span>
                        <div class="buttons-section">
                            <button class="btn-print btn-icon-refresh" (click)="refreshPage()">
                                <img class="icon-refresh" src="./assets/images/transactions/Refresh_icon.svg" alt="">
                            </button>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="card-body mb-sm-3">
                        <div class="card-body-title d-flex">
                            <div class="title-container d-flex justify-content-between">
                                <div class="general-controls d-flex">
                                    <button class="btn btn-primary-accept control"
                                            (click)="saveSystemSettings(true)">
                                        <img class="btn-icon" src="./assets/images/merchants-details/save-btn-icon.svg"
                                             alt="">
                                        {{'Save' | translate}}
                                    </button>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <form class="financial-form card-form"
                              name="financialForm" #financialForm="ngForm"
                              novalidate (ngSubmit)="saveSystemSettings(true)"
                              role="form" autocomplete='organization'>
                            <div class="fieldset-label pdd">{{'File Bank Details' | translate}}</div>
                            <div class="row">
                                <div class="col-md-6 col-12">
                                    <fieldset class="form-group">
                                        <label>{{'Institue Name' | translate}}</label>
                                        <input class="form-control input-mandatory" autocomplete="redundant"
                                               name="institueName" #institueName="ngModel"
                                               [(ngModel)]="merchantData?.poalimFileBankDetails.institueName"
                                               maxlength="50"
                                               placeholder="{{'Bank Number' | translate}}">
                                    </fieldset>
                                </div>
                                <div class="col-md-6 col-12">
                                    <fieldset class="form-group">
                                        <label>{{'Institute Number' | translate}}</label>
                                        <input class="form-control input-mandatory" autocomplete="redundant"
                                               name="instituteNumber" #instituteNumber="ngModel"
                                               maxlength="50"
                                               [(ngModel)]="merchantData?.poalimFileBankDetails.instituteNumber"
                                               placeholder="{{'Institute Number' | translate}}">
                                    </fieldset>
                                </div>
                                <div class="col-md-6 col-12">
                                    <fieldset class="form-group">
                                        <label>{{'Sending Institute' | translate}}</label>
                                        <input class="form-control input-mandatory" autocomplete="redundant"
                                               name="sendingInstitute" #sendingInstitute="ngModel" maxlength="50"
                                               [(ngModel)]="merchantData?.poalimFileBankDetails.sendingInstitute"
                                               placeholder="{{'Sending Institute' | translate}}">
                                    </fieldset>
                                </div>
                            </div>


                            <!--Ng-Bootstrap Modal Window: Change Rate-->

                            <ng-template #ChangeRateModalContent let-c="close" let-d="dismiss">
                                <form name="ratesModalForm" #ratesModalForm="ngForm"
                                      autocomplete="off" novalidate role="form">
                                    <div class="modal-header">
                                        <h4 class="modal-title">{{'Change Rate' | translate}}</h4>
                                        <button type="button" class="close" aria-label="Close"
                                                (click)="d('Cross click')">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="row">
                                            <div class=" col-xs-6 col-md-6">
                                                <div class="form-group">
                                                    <label>{{'Basic Rate' | translate}}, %</label>
                                                    <input class="form-control input-mandatory" autocomplete="redundant"
                                                           type="number" pattern="^[0-9]+(\.[0-9]{1,2})?$" step="0.1"
                                                           min="0"
                                                           (keypress)="filtersService.keyPressNumberRestricts($event)"
                                                           name="basicrate" #basicrate="ngModel"
                                                           [(ngModel)]="changeRateData.defaultBasicComissionRate "
                                                           placeholder="{{'Basic Rate' | translate}}">
                                                </div>
                                            </div>
                                            <div class=" col-xs-6 col-md-6">
                                                <div class="form-group">
                                                    <label>{{'Installment Rate' | translate}}, %</label>
                                                    <input class="form-control input-mandatory" autocomplete="redundant"
                                                           type="number" pattern="^[0-9]+(\.[0-9]{1,2})?$" step="0.1"
                                                           min="0"
                                                           (keypress)="filtersService.keyPressNumberRestricts($event)"
                                                           name="installmentrate" #installmentrate="ngModel"
                                                           [(ngModel)]="changeRateData.defaultInstallmentComissionRate "
                                                           placeholder="{{'Installment Rate' | translate}}">
                                                </div>
                                            </div>
                                            <div class=" col-xs-6 col-md-6">
                                                <div class="form-group">
                                                    <label>{{'Card Bin' | translate}}</label>
                                                    <ng-select [items]="cardBins" autocomplete="redundant" required
                                                               bindLabel="description"
                                                               bindValue="code"
                                                               name="cardbin"
                                                               [(ngModel)]="changeRateData.creditCardVendor "
                                                               placeholder="{{'Choose one' | translate}}">
                                                    </ng-select>
                                                </div>
                                            </div>
                                            <div class=" col-xs-6 col-md-6">
                                                <div class="form-group">
                                                    <label>{{'Tourist Rate' | translate}}, %</label>
                                                    <input class="form-control input-mandatory" autocomplete="redundant"
                                                           type="number" pattern="^[0-9]+(\.[0-9]{1,2})?$" step="0.1"
                                                           min="0"
                                                           (keypress)="filtersService.keyPressNumberRestricts($event)"
                                                           name="installmentrate" #installmentrate="ngModel"
                                                           [(ngModel)]="changeRateData.defaultTouristComissionRate"
                                                           placeholder="{{'Installment Rate' | translate}}">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-main"
                                                [disabled]="!ratesModalForm.valid"
                                                (click)="c(changeRateData)">
                                            {{'Change' | translate}}
                                        </button>
                                        <button type="button" class="btn btn-primary-close" (click)="c({})">
                                            {{'Close' | translate}}
                                        </button>
                                    </div>
                                </form>
                            </ng-template>

                            <!--Ng-Bootstrap Modal Window: Change Rate-->

                            <div class="row">
                                <div class="col-md-7 col-12 rate-table">
                                    <div class="rate-header d-flex justify-content-between">
                                        <div class="label">
                                            {{'Rate Information' | translate}}
                                        </div>
                                        <div class="controls">
                                            <button class="btn btn-main" type="button"
                                                    (click)="openChangeRateDialog(ChangeRateModalContent)">
                                                {{'Change Rate' | translate}}
                                            </button>
                                        </div>
                                    </div>
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th class="align-middle">
                                                <div class="d-flex align-items-center text-center">
                                                    <span>{{'Credit Bin' | translate}}</span>
                                                </div>
                                            </th>
                                            <th
                                                    class="align-middle">
                                                <div class="d-flex align-items-center text-center">
                                                    <span>{{'Basic Rate' | translate}}</span>
                                                </div>
                                            </th>
                                            <th
                                                    class="align-middle">
                                                <div class="d-flex align-items-center text-center">
                                                    <span>{{'Installment Rate' | translate}}</span>
                                                </div>
                                            </th>
                                            <th
                                                    class="align-middle">
                                                <div class="d-flex align-items-center text-center">
                                                    <span>{{'Tourist Rate' | translate}}</span>
                                                </div>
                                            </th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr *ngFor="let rate of merchantData?.commissionRates; index as i;">
                                            <td class="d-flex text-left">{{rate.creditCardVendor}}</td>
                                            <td class="text-right">{{rate.defaultBasicComissionRate | percent:
                                                '1.2-2'}}
                                            </td>
                                            <td class="text-right">{{rate.defaultInstallmentComissionRate | percent:
                                                '1.2-2'}}
                                            </td>
                                            <td class="text-right">{{rate.defaultTouristComissionRate | percent:
                                                '1.2-2'}}
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            <!--Ng-Bootstrap Modal Window: Security Limits-->

                            <ng-template #SecurityLimitsModalContent let-c="close" let-d="dismiss">
                                <div class="modal-header">
                                    <h4 class="modal-title">{{'Set' | translate}} {{securityHeader}}</h4>
                                    <button type="button" class="close" aria-label="Close"
                                            (click)="d('Cross click')">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <div class=" col-xs-10 col-md-10">
                                            <div class="form-group">
                                                <label>{{securityHeader}}</label>
                                                <input class="form-control input-mandatory" autocomplete="redundant"
                                                       minlength="1" maxlength="20" type="number"
                                                       (keypress)="filtersService.keyPressNumberRestricts($event)"
                                                       name="securityentity" #securityentity="ngModel"
                                                       [(ngModel)]="securityEntity"
                                                       placeholder="{{securityHeader}}">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-main"
                                            (click)="c(securityEntity);">
                                        {{'Apply' | translate}}
                                    </button>
                                    <button type="button" class="btn btn-primary-close" (click)="c({})">
                                        {{'Close' | translate}}
                                    </button>
                                </div>
                            </ng-template>

                            <!--Ng-Bootstrap Modal Window: Security Limits-->

                            <div class="row security-limits">
                                <div class="fieldset-label pdd">{{'Amount Limits' | translate}}</div>
                                <hr>
                                <div class="col-md-6 col-12">
                                    <fieldset class="form-group pd-top-5">
                                        <label>{{'Daily transactions amount limit' | translate}}</label>
                                        <input class="form-control input-mandatory" autocomplete="redundant"
                                               name="transactionsmaxdailyamount" #transactionsmaxdailyamount="ngModel"
                                               [(ngModel)]="merchantData.transactionsMaxDailyAmount"
                                               (keypress)="filtersService.keyPressNumberRestricts($event)"
                                               placeholder="{{'Daily transactions amount limit' | translate}}">
                                    </fieldset>
                                </div>
                                <div class="col-md-6 col-12">
                                    <fieldset class="form-group pd-top-5">
                                        <label>{{'Single transaction amount limit' | translate}}</label>
                                        <input class="form-control input-mandatory" autocomplete="redundant"
                                               name="singletransactionmaxAmount" #ccsecuritylimit="ngModel"
                                               [(ngModel)]="merchantData.singleTransactionMaxAmount"
                                               (keypress)="filtersService.keyPressNumberRestricts($event)"
                                               placeholder="{{'Single transaction amount limit' | translate}}">
                                    </fieldset>
                                </div>
                                <div class="col-md-6 col-12">
                                    <fieldset class="form-group pd-top-5">
                                        <label>{{'Number of transaction per credit card' | translate}}</label>
                                        <input class="form-control input-mandatory" autocomplete="redundant"
                                               name="maxtransactionspercreditcard"
                                               #maxtransactionspercreditcard="ngModel"
                                               [(ngModel)]="merchantData.maxTransactionsPerCreditCard"
                                               (keypress)="filtersService.keyPressNumberRestricts($event)"
                                               placeholder="{{'Number of transaction per credit card' | translate}}">
                                    </fieldset>
                                </div>
                            </div>

                            <div class="row security-limits">
                                <div class="fieldset-label pdd">{{'Security Limits' | translate}}</div>
                                <hr>
                                <div class="col-md-6 col-12">
                                    <fieldset class="form-group pd-top-5">
                                        <label>{{'Collateral' | translate}}</label>
                                        <input class="form-control input-mandatory" autocomplete="redundant"
                                               name="ccsecuritylimit" #ccsecuritylimit="ngModel"
                                               (keypress)="filtersService.keyPressNumberRestricts($event)"
                                               [(ngModel)]="merchantData.defaultCollateralSecurityLimit"
                                               placeholder="{{'Collateral' | translate}}">
                                    </fieldset>
                                </div>
                                <div class="col-md-6 col-12">
                                    <fieldset class="form-group no-margin">
                                        <div class="form-group pd-top-5">
                                            <label>{{'Billing Cycle Confirmation' | translate}}</label>
                                            <ng-select [items]="defaultBillingCycleItems"
                                                       autocomplete="redundant"
                                                       bindLabel="description"
                                                       bindValue="code"
                                                       name="defaultBillingCycle"
                                                       [(ngModel)]="merchantData.defaultBillingCycleClearingCompanyConfirmation"
                                                       placeholder="{{'- Select One -' | translate}}">
                                            </ng-select>
                                        </div>
                                    </fieldset>
                                </div>
                                <div class="col-md-6 col-12"></div>
                            </div>
                            <div class="row cycle-container" [ngClass]="{'with-save-btn': isNewMerchant}">
                                <div class="col-md-6 col-12">
                                    <div class="fieldset-label">{{'Security Cycle, Days' | translate}}</div>
                                    <fieldset class="form-group no-margin">
                                        <label>{{'Security Cycle' | translate}}</label>
                                        <input class="form-control input-mandatory" autocomplete="redundant"
                                               name="securitycycle" #securitycycle="ngModel"
                                               [(ngModel)]="merchantData.defaultSecurityCycle"
                                               placeholder="{{'Security Cycle' | translate}}">
                                    </fieldset>
                                </div>
                                <div class="col-md-6 col-12">
                                    <div class="fieldset-label">{{'Transfer Cycle' | translate}}</div>
                                    <fieldset class="form-group no-margin">
                                        <div class="form-group">
                                            <label>{{'Transfer Cycle' | translate}}</label>
                                            <!--[(ngModel)]="merchantData."-->
                                            <!--name="ownerGender"-->
                                            <ng-select [items]="transferCycleItems"
                                                       autocomplete="redundant"
                                                       bindLabel="description"
                                                       bindValue="code"
                                                       name="transferCycle"
                                                       [(ngModel)]="selectedTransferCycle"
                                                       placeholder="{{'- Select One -' | translate}}">
                                            </ng-select>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-12"></div>
                                <div class="col-md-6 col-12">
                                    <div class="weekly-container" *ngIf="selectedTransferCycle === 'week'">
                                        <h5>{{'Please, choose days of a weekly cycle' | translate}}</h5>
                                        <div class="btn-group btn-group-toggle"
                                             *ngFor="let day of transferCycleWeekly; index as i;">
                                            <label class="btn-primary" ngbButtonLabel>
                                                <input type="checkbox" name="tcWeekly-{{day.description}}"
                                                       autocomplete="redundant"
                                                       ngbButton [(ngModel)]="day.code">
                                                {{day.description}}
                                            </label>
                                        </div>
                                    </div>
                                    <div class="monthly-container" *ngIf="selectedTransferCycle === 'month'">
                                        <h5>{{'Please, choose days of a monthly cycle' | translate}}</h5>
                                        <div class="btn-group btn-group-toggle"
                                             *ngFor="let day of transferCycleMonthly; index as i;">
                                            <label class="btn-primary" ngbButtonLabel>
                                                <input type="checkbox" name="tcMonthly-{{day.description}}"
                                                       autocomplete="redundant"
                                                       ngbButton [(ngModel)]="day.code">
                                                {{day.description}}
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-12">
                                    <fieldset class="form-group">
                                        <label>{{'Credit Card Security J5 Block' | translate}}</label>
                                        <input class="form-control input-mandatory" autocomplete="redundant"
                                               name="cccsblock" #cccsblock="ngModel"
                                               [(ngModel)]="merchantData.defaultCreditCardJ5Blocks"
                                               placeholder="{{'Credit Card Security J5 Block' | translate}}">
                                    </fieldset>
                                </div>
                                <div class="col-md-6 col-12">
                                </div>
                                <div class="col-md-6 col-12">
                                    <fieldset class="form-group pd-top-5">
                                        <label>{{'Invoice item' | translate}}</label>
                                        <input class="form-control input-mandatory" autocomplete="redundant"
                                               name="invoiceitem" #invoiceitem="ngModel" maxlength="50"
                                               (keypress)="filtersService.keyPressStringRestricts($event)"
                                               [(ngModel)]="merchantData.invoiceItem"
                                               placeholder="{{'Invoice item' | translate}}">
                                    </fieldset>
                                </div>
                                <div class="col-md-6 col-12">
                                    <div class="form-group pd-top-5">
                                        <label>{{'SMS From Details' | translate}}</label>
                                        <input class="form-control input-mandatory" autocomplete="redundant"
                                               name="smsFromDetails" #smsFromDetails="ngModel"
                                               [(ngModel)]="merchantData.smsFromDetails"
                                               placeholder="{{'SMS From Details' | translate}}">
                                    </div>
                                </div>
                            </div>


                            <!--Ng-Bootstrap Modal Window: Change Rate-->

                            <ng-template #ClearingCompanyModalContent let-c="close" let-d="dismiss">
                                <form name="clearingCompanyModalForm" #clearingCompanyModalForm="ngForm"
                                      autocomplete="off" novalidate role="form">
                                    <div class="modal-header">
                                        <h4 class="modal-title">{{'Clearing Company' | translate}}</h4>
                                        <button type="button" class="close" aria-label="Close"
                                                (click)="d('Cross click')">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="row">
                                            <div class=" col-xs-6 col-md-6">
                                                <div class="form-group">
                                                    <label>{{'Name' | translate}}</label>
                                                    <input class="form-control input-mandatory" autocomplete="redundant"
                                                           name="clearingCompanyName" #clearingCompanyName="ngModel"
                                                           [(ngModel)]="changeClearingCompanyData.clearingCompanyName "
                                                           placeholder="{{'Name' | translate}}">
                                                </div>
                                            </div>
                                            <div class=" col-xs-6 col-md-6">
                                                <div class="form-group">
                                                    <label>{{'Vat Rate' | translate}}, %</label>
                                                    <input class="form-control input-mandatory" autocomplete="redundant"
                                                           type="number" pattern="^[0-9]+(\.[0-9]{1,2})?$" step="0.1"
                                                           min="0"
                                                           (keypress)="filtersService.keyPressNumberRestricts($event)"
                                                           name="vatRate" #vatRate="ngModel"
                                                           [(ngModel)]="changeClearingCompanyData.vatRate"
                                                           placeholder="{{'Vat Rate' | translate}}">
                                                </div>
                                            </div>
                                            <div class=" col-xs-6 col-md-6">
                                                <div class="form-group">
                                                    <label>{{'Commission Rate' | translate}}, %</label>
                                                    <input class="form-control input-mandatory" autocomplete="redundant"
                                                           type="number" pattern="^[0-9]+(\.[0-9]{1,2})?$" step="0.1"
                                                           min="0"
                                                           (keypress)="filtersService.keyPressNumberRestricts($event)"
                                                           name="commissionRate" #commissionRate="ngModel"
                                                           [(ngModel)]="changeClearingCompanyData.commissionRate"
                                                           placeholder="{{'Commission Rate' | translate}}">
                                                </div>
                                            </div>
                                            <!--<div class=" col-xs-6 col-md-6">-->
                                            <!--<div class="form-group">-->
                                            <!--<label>{{'Card Owner National Id Required' | translate}}</label>-->
                                            <!--<input type="checkbox" class="form-control input-mandatory"-->
                                            <!--autocomplete="redundant"-->
                                            <!--name="isCardOwnerNationalIdRequired"-->
                                            <!--#isCardOwnerNationalIdRequired="ngModel"-->
                                            <!--[(ngModel)]="changeClearingCompanyData.isCardOwnerNationalIdRequired"-->
                                            <!--placeholder="{{'Card Owner National Id Required' | translate}}">-->
                                            <!--</div>-->
                                            <!--</div>-->
                                            <div class="col-md-6 col-12">
                                                <fieldset class="form-group">
                                                    <label>
                                                        {{'Card Owner National Id' | translate}}
                                                    </label>
                                                    <div class="check-group d-flex">
                                                        <div class="btn-group btn-group-toggle mb-3" ngbRadioGroup
                                                             name="isCardOwnerNationalIdRequired"
                                                             [(ngModel)]="changeClearingCompanyData.isCardOwnerNationalIdRequired">
                                                            <label ngbButtonLabel class="btn-primary">
                                                                <input ngbButton type="radio" [value]="true">
                                                                {{'Yes' | translate}}
                                                            </label>
                                                            <label ngbButtonLabel class="btn-primary">
                                                                <input ngbButton type="radio" [value]="false">
                                                                {{'No' | translate}}
                                                            </label>
                                                        </div>
                                                    </div>
                                                </fieldset>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-main"
                                                [disabled]="!clearingCompanyModalForm.valid"
                                                (click)="c(changeClearingCompanyData)">
                                            <span *ngIf="!isClearingCompanyNew">{{'Change' | translate}}</span>
                                            <span *ngIf="isClearingCompanyNew">{{'Create' | translate}}</span>
                                        </button>
                                        <button type="button" class="btn btn-primary-close" (click)="c({})">
                                            {{'Close' | translate}}
                                        </button>
                                    </div>
                                </form>
                            </ng-template>


                            <!--Ng-Bootstrap Modal Window: clearingCompany-->

                            <div class="row">
                                <div class="col-lg-11  col-12 rate-table">
                                    <div class="rate-header d-flex justify-content-between">
                                        <div class="label">
                                            {{'Clearing Company' | translate}}
                                        </div>
                                        <div class="controls">
                                            <button class="btn btn-main" type="button"
                                                    (click)="openClearingCompanyDialog(ClearingCompanyModalContent)">
                                                {{'New' | translate}}
                                            </button>
                                        </div>
                                    </div>
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th class="align-middle">
                                                <div class="d-flex align-items-center text-center">
                                                    <span>{{'Clearing Company ID' | translate}}</span>
                                                </div>
                                            </th>
                                            <th class="align-middle">
                                                <div class="d-flex align-items-center text-center">
                                                    <span>{{'Clearing Company Name' | translate}}</span>
                                                </div>
                                            </th>
                                            <th class="align-middle">
                                                <div class="d-flex align-items-center text-center">
                                                    <span>{{'Card Owner National Id Required' | translate}}</span>
                                                </div>
                                            </th>
                                            <th class="align-middle">
                                                <div class="d-flex align-items-center text-center">
                                                    <span>{{'Vat Rate' | translate}}</span>
                                                </div>
                                            </th>
                                            <th class="align-middle">
                                                <div class="d-flex align-items-center text-center">
                                                    <span>{{'Commission Rate' | translate}}</span>
                                                </div>
                                            </th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr *ngFor="let clearingCompany of clearingCompanies; index as i;"
                                            (click)="openClearingCompanyDialog(ClearingCompanyModalContent, clearingCompany)">
                                            <td class="text-left">{{clearingCompany.clearingCompanyID}}</td>
                                            <td class="text-left">{{clearingCompany.clearingCompanyName}}</td>
                                            <td class="text-left">{{clearingCompany.isCardOwnerNationalIdRequired}}</td>
                                            <td class="text-right">{{clearingCompany.vatRate | percent: '1.2-2'}}</td>
                                            <td class="text-right">{{clearingCompany.commissionRate | percent:
                                                '1.2-2'}}
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-12">
                                    <fieldset class="form-group no-margin">
                                        <div class="form-group pd-top-5">
                                            <label>{{'Control Reports Emails Recipients' | translate}}</label>
                                            <tag-input theme='bootstrap' [validators]="validators"
                                                       [ngModelOptions]="{standalone: true}"
                                                       [identifyBy]="'emailAddress'" [placeholder]="'Add Email Address'"
                                                       [displayBy]="'emailAddress'"
                                                       [(ngModel)]='merchantData.controlReportsEmailsRecipients'></tag-input>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-xs-6 col-md-6">
                                    <div class="form-group">
                                        <label>{{'Average Tourist Charges Deviation' | translate}}</label>
                                        <input class="form-control input-mandatory" autocomplete="redundant"
                                               type="number"
                                               name="averageTouristChargesDeviation" #averageTouristChargesDeviation="ngModel"
                                               [(ngModel)]="merchantData.averageTouristChargesDeviation"
                                               placeholder="{{'Average Tourist Charges Deviation' | translate}}">
                                    </div>
                                </div>
                                <div class="col-xs-6 col-md-6">
                                    <div class="form-group">
                                        <label>{{'Average Transaction Amount Deviation' | translate}}</label>
                                        <input class="form-control input-mandatory" autocomplete="redundant"
                                               type="number"
                                               name="averageTransactionAmountDeviation" #averageTransactionAmountDeviation="ngModel"
                                               [(ngModel)]="merchantData.averageTransactionAmountDeviation"
                                               placeholder="{{'Average Transaction Amount Deviation' | translate}}">
                                    </div>
                                </div>
                                <div class="col-xs-6 col-md-6">
                                    <div class="form-group">
                                        <label>{{'Transaction Approvel Window' | translate}}</label>
                                        <input class="form-control input-mandatory" autocomplete="redundant"
                                               type="number"
                                               name="transactionApprovelWindow" #transactionApprovelWindow="ngModel"
                                               [(ngModel)]="merchantData.transactionApprovelWindow"
                                               placeholder="{{'Transaction Approvel Window' | translate}}">
                                    </div>
                                </div>
                                <div class="col-xs-6 col-md-6">
                                    <div class="form-group">
                                        <label>{{'Transaction Commit Window' | translate}}</label>
                                        <input class="form-control input-mandatory" autocomplete="redundant"
                                               type="number"
                                               name="transactionCommitWindow" #transactionCommitWindow="ngModel"
                                               [(ngModel)]="merchantData.transactionCommitWindow"
                                               placeholder="{{'Transaction Commit Window' | translate}}">
                                    </div>
                                </div>
                                <div class="col-xs-6 col-md-6">
                                    <div class="form-group">
                                        <label>{{'Transactions Max Daily Amount' | translate}}</label>
                                        <input class="form-control input-mandatory" autocomplete="redundant"
                                               type="number"
                                               name="transactionsMaxDailyAmount" #transactionsMaxDailyAmount="ngModel"
                                               [(ngModel)]="merchantData.transactionsMaxDailyAmount"
                                               placeholder="{{'Transactions Max Daily Amount' | translate}}">
                                    </div>
                                </div>
                                <div class="col-xs-6 col-md-6">
                                    <div class="form-group">
                                        <label>{{'Transactions Report Limit' | translate}}</label>
                                        <input class="form-control input-mandatory" autocomplete="redundant"
                                               type="number"
                                               name="transactionsReportLimit" #transactionsReportLimit="ngModel"
                                               [(ngModel)]="merchantData.transactionsReportLimit"
                                               placeholder="{{'Transactions Report Limit' | translate}}">
                                    </div>
                                </div>
                            </div>


                            <div class="row bottom-controls financial">
                                <button class="btn btn-primary-accept" type="submit">
                                    <img class="btn-icon icon-refresh"
                                         src="./assets/images/merchants-details/save-btn-icon.svg" alt="">
                                    {{'Save' | translate}}
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>